<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="edu.nrao.acs.AcsrootContainerInitializer"
            id="acs.ACSROOT_CONTAINER">
      </classpathContainerInitializer>
      <classpathContainerInitializer
            class="edu.nrao.acs.IntrootContainerInitializer"
            id="acs.INTROOT_CONTAINER">
      </classpathContainerInitializer>
      <classpathContainerInitializer
            class="edu.nrao.acs.IntlistContainerInitializer"
            id="acs.INTLIST_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="edu.nrao.acs.AcsrootContainerPage"
            id="acs.ACSROOT_CONTAINER"
            name="ACS Installation Directory">
      </classpathContainerPage>
      <classpathContainerPage
            class="edu.nrao.acs.IntrootContainerPage"
            id="acs.INTROOT_CONTAINER"
            name="ACS INTROOT Directory">
      </classpathContainerPage>
      <classpathContainerPage
            class="edu.nrao.acs.IntlistContainerPage"
            id="acs.INTLIST_CONTAINER"
            name="ACS INTLIST Directory">
      </classpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.nrao.acs.preference.AcsVersions"
            id="edu.nrao.acs.preference.AcsVersions"
            name="Installed ACS versions">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.nrao.acs.preference.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
